
<h3 class="text-white">Yönetim Paneli</h3><br />

<div img="~/web/images/background.jpg">

    <ul style="list-style-type:none">
        <li><a asp-action="KitapEkle" asp-controller="Admin">Yeni Kitap Ekle</a></li><br />
        <li><a asp-action="YazarEkle" asp-controller="Admin">Yeni Yazar Ekle</a></li><br />
        <li><a asp-action="KategoriEkle" asp-controller="Admin">Yeni Kategori Ekle</a></li><br />
        <li><a asp-action="BekleyenIslemler" asp-controller="Admin">Bekleyen İşlemler</a></li><br />
        <li><a asp-action="IadeIslemleri" asp-controller="Admin">Kitap İade İşlemleri</a></li><br />
        <li><a asp-action="KapakResmiYukle" asp-controller="Admin">Kapak Resmi Yükle</a></li><br />
    </ul>
</div>